@{
    ViewData["Title"] = "PERSONAL INFO";
}

<center><br>
        <h1>PERSONAL INFO</h1><br><br>
        Name: Kristie Sala
        Address: Binabag
        Birthday: November 1, 2023
</center>
