@{
    ViewData["Title"] = "Home Page";
}
@Html.ActionLink("go to link", "index", "kris")

@* <a href = "/kris/";>adto sa hi<a> *@
<div class="text-center">
    <h1 class="display-4">HI HOW ARE YOU?</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
